<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Trainers", "Index", "Trainers")</li>
    <li>@Html.ActionLink("Staff", "Index", "Staffs")</li>
    <li>@Html.ActionLink("AdminOther", "Index", "ADMs")</li>
</ul>


